body{
  overflow: hidden;
}
.auth-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.auth-form h1 {
  font-weight: 100;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85%;
}

.auth-btns {
  margin-top: 10%;
  width: 100%;
}

.signup, .login {
  padding: 1%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  height: 100%;
}

.forgot-pass {
  display: flex;
  justify-content: right;
  width: 100%;
}
.forgot{
  display: flex;
  justify-content: start;
}

@media (max-width: 700px){
  body{
    height: auto;
  }
  .auth-form{
    width: 70%;
    position: absolute;
    left: 15%;
    top: 30%;
  }
  @media (min-width: 701px) {
    body {
      height: 100vh; /* Use full height of the viewport */
      overflow: hidden; /* Prevent scrolling */
    }
  }
  
 
  .config-form{
    top: auto;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(217, 217, 217, 0.20) inset !important;
    -webkit-text-fill-color: #000 !important;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-image {
    animation: rotate 20s linear infinite; 
  }
  